/* VARIABILI */
:root{
    --white: #ffffff
}
/* COMMON */
.ms-flex-container{
    display: flex;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

section{
    padding: 20px 0;
}

/* HEADER */

header{
    height: 100px;
    background-color: #2c3e50;
    line-height: 100px;
    color: var(--white);
}

.logo{
    font-size: 20px;
    font-weight: bolder;
}

.btn-burger i{
    font-size: 20px;
}

header nav{
    text-align: right;
}

.ms-main-menu li{
    display: inline-block;
    padding-left: 15px;
    font-size: 17px;
    font-weight: bolder;
    
}

/* MAIN */

.back-acqua{
    background-color: #1abc9c;
    width: 100%;    
}

.ms-container{
    width: 80%;
    margin: 0 auto;
    color: var(--white);
    text-align: center;
}

.avatar{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: bisque;
    margin-bottom: 20px;
}

/* portfolio */
.portfolio{
    text-align: center;
}

.ms-card{
    height: 300px;
    background-color: brown;
    border-radius: 15px;
}
/* about */
.ms-container-about{
    width: 60%;
    margin: 0 auto;
    color: var(--white);
    text-align: center;
}

.ms-container-about h2{
    padding-top: 15px;
    font-weight: bolder;
}
/* contatti */
.contact{
    text-align: center;
}
.ms-container-contact{
    width: 50%;
    margin: 0 auto;
}

.message{
    text-align: start;
}

#hgt{
    margin-top: 70px;   
}
/* FOOTER */

.location{
    background-color: #3a546d;
    color: var(--white);
}

.copyright{
    background-color: #2c3e50;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    height: 100px;
}




